<section class="sidebar" data-color="dark">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
  -->
    <div class="logo d-flex">
      <a href="#" class="simple-text logo-mini">
        <img src="./assets/imgs/quokka-icon.png" alt="">
      </a>
      <a href="#" class="simple-text logo-normal">
        Quokka pelis
      </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
      <ul class="nav">
        <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a routerLink="/dashboard">
            <i class="fas fa-home"></i>
            <p class="font-weight-bold">Inicio</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/peliculas">
            <i class="fas fa-film"></i>
            <p class="font-weight-bold">Películas</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/series">
            <i class="fas fa-photo-video"></i>
            <p class="font-weight-bold">Series</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/perfil">
            <i class="fas fa-user"></i>
            <p class="font-weight-bold">Mi perfil</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/pagos">
            <i class="fas fa-money-bill-wave"></i>
            <p class="font-weight-bold">Mis pagos</p>
          </a>
        </li>

        <li>
          <p class="m-3 text-white">
            <small>
              Mantenimientos
            </small>
          </p>
        </li>

        <li routerLinkActive="active">
          <a routerLink="/dashboard/mantenimientos/roles">
            <i class="fas fa-cog"></i>
            <p class="font-weight-bold">Roles</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/mantenimientos/usuarios">
            <i class="fas fa-cog"></i>
            <p class="font-weight-bold">Usuarios</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/mantenimientos/generos">
            <i class="fas fa-cog"></i>
            <p class="font-weight-bold">Géneros</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/mantenimientos/peliculas">
            <i class="fas fa-cog"></i>
            <p class="font-weight-bold">Peliculas</p>
          </a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/dashboard/mantenimientos/series">
            <i class="fas fa-cog"></i>
            <p class="font-weight-bold">Series</p>
          </a>
        </li>        
        <li routerLinkActive="active">
          <a routerLink="/dashboard/mantenimientos/actores">
            <i class="fas fa-cog"></i>
            <p class="font-weight-bold">Actores</p>
          </a>
        </li>        
        <li routerLinkActive="active">
          <a routerLink="/dashboard/mantenimientos/personajes">
            <i class="fas fa-cog"></i>
            <p class="font-weight-bold">Personajes</p>
          </a>
        </li>        
        <li routerLinkActive="active">
          <a routerLink="/dashboard/mantenimientos/directores">
            <i class="fas fa-cog"></i>
            <p class="font-weight-bold">Directores</p>
          </a>
        </li>        
        <li routerLinkActive="active">
          <a routerLink="/dashboard/mantenimientos/estudios">
            <i class="fas fa-cog"></i>
            <p class="font-weight-bold">Estudios</p>
          </a>
        </li>        
      </ul>
    </div>
</section>