<article class="panel-header px-3 px-sm-5">
    <div class="header text-center">
        <h2 class="title">Roles</h2>
        <section class="d-flex justify-content-end align-items-center">
            <article>
                <button class="btn btn-dark bg-dark" data-toggle="modal" 
                    data-target="#modal-rol" (click)="handleCreateRol()">
                    Agregar
                </button>
            </article>
        </section>
    </div>
</article>

<article class="u-content">
    <section class="card">
        <div class="card-body">
            <section class="tables-responsive">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col" class="px-3 font-weight-normal">Descripción</th>
                        <th scope="col" class="px-3 font-weight-normal">Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let rol of roles$ | async">
                        <td class="px-3">{{ rol.descripcion }}</td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-outline-default" data-toggle="modal" 
                                    data-target="#modal-rol" (click)="handleEditRol(rol)">
                                    <i class="fas fa-pencil-alt"></i>
                                </button>
                                <button class="btn btn-outline-danger" (click)="deleteRol(rol.id)">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </section>
</article>

<article class="modal fade" id="modal-rol" aria-hidden="true">
    <div class="modal-dialog">
        <article class="modal-content">
            <section class="modal-header">
                <h5 class="modal-title">Mantenimiento de rol</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </section>
            <section class="modal-body" [formGroup]="formRol">
                <article class="form-group">
                    <label for="">Descripción</label>
                    <input type="text" class="form-control" 
                        formControlName="descripcion">
                    <p class="text-danger mb-2 d-none" 
                        [class.d-block]="hasErrorRequired('descripcion')">
                        <small>No puede ser vacío</small>
                    </p>  
                </article>
            </section>
            <section class="modal-footer">
                <button type="button" class="btn btn-primary" 
                    (click)="saveRol()" [disabled]="formRol.invalid">
                    Guardar
                </button>
            </section>
        </article>
    </div>
</article>