<article class="panel-header u-panel-header-xl px-3 px-sm-5 d-flex">    
    <div class="o-grid-row">
        <section class="o-grid-column-3 d-flex justify-content-center pb-3">
          <img [src]="serie.url_poster | routeImage"
            class="img-fluid u-fit-cover">
        </section>
        <section class="o-grid-column-9">
            <h1 class="font-weight-bold text-white mb-3">
              {{ serie.SERIE }}
            </h1>
            <div class="d-flex">
              <p class="text-white mr-5"> 
                  <span class="font-weight-bold">Año:</span> {{ serie.anio_lanzamiento | date }}
              </p>
            </div>
            <p class="text-white"> 
              <span class="font-weight-bold">Géneros:</span> 
              <span *ngFor="let genero of generos$ | async">
                  {{ genero.descripcion }}, 
              </span>
            </p>
            <p class="text-white"> 
              <span class="font-weight-bold">Sinópsis:</span> 
              {{ serie.sinopsis }}
            </p>
            <p class="text-white"> 
              <span class="font-weight-bold">Director:</span> 
              <span *ngFor="let director of directores$ | async">
                  {{ director.nombres | titlecase }} {{ director.apellidos | titlecase }} 
              </span>
            </p>
        </section>
    </div>
</article>
<article class="u-content">
  <section class="accordion" id="accordionExample">
      <div class="card">
        <ng-container *ngFor="let ip of [1,2,3,4,5]; let pos = index;">
          <article class="card-header pb-3 sh-accordion-father u-cursor-pointer" 
            data-toggle="collapse" [attr.data-target]="'#collapse' + pos" 
            aria-expanded="true" [attr.aria-controls]="'collapse' + pos">
            <p class="mb-0 font-weight-bold">
              <i class="fas fa-map-marker mr-3"></i>
              Temporada 0{{ pos }}
            </p>
          </article>
        
          <article id="collapse{{ pos }}" class="collapse" [class.show]="pos === 0" 
            data-parent="#accordionExample">
            <div class="card-body bg-dark p-0">
              <p class="u-cursor-pointer text-white sh-accordion-item p-3 mb-0" *ngFor="let i of [1,3,5,4,6,5,8,4]">
                <i class="fas fa-video mr-3"></i>
                Capítulo 01
              </p>
            </div>
          </article>
        </ng-container>
    </div>
  </section>
</article>

<article class="c-float__container">
  <button class="c-float__btn" routerLink="/dashboard/series">
      <i class="fas fa-arrow-left"></i>
  </button>
</article>