<article class="panel-header px-3 px-sm-5">
    <div class="header text-center">
      <h2 class="title">Películas</h2>
      <section class="input-group no-border">
        <input type="text" class="form-control font-weight-bold" placeholder="Buscar...">
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="fas fa-search text-dark"></i>
          </div>
        </div>
      </section>
    </div>
</article>

<article class="u-content">
    <div class="row">
        <section class="col-lg-4" *ngFor="let i of [1,2,3,4,56,5,8]">
            <article class="card card-chart c-card-hover">
                <section>
                    <img src="https://images.alphacoders.com/364/thumb-1920-3641.jpg" alt="">
                </section>
                <section class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-category">
                            <span class="badge badge-success">
                                Terror
                            </span>
                        </h5>
                        <div class="dropdown position-static">
                            <button type="button" class="btn btn-round btn-outline-default dropdown-toggle btn-simple btn-icon no-caret" 
                                data-toggle="dropdown">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Editar</a>            
                                <a class="dropdown-item text-danger" href="#">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="card-body">
                    <h4 class="card-title font-weight-bold m-0">Hostal I</h4> 
                    <p>Alguna descripción media larga media larga media larga media larga media larga ..</p>
                    <a href="#">Ver más</a>
                </section>
            </article>
        </section>
    </div>
</article>