<article class="panel-header px-3 px-sm-5">
    <div class="header text-center">
      <h2 class="title">Películas</h2>
      <section class="input-group no-border" [formGroup]="formPelicula">
        <input type="text" class="form-control font-weight-bold" 
            placeholder="Buscar..." formControlName="search">
        <div class="input-group-append">
          <div class="input-group-text">
            <i class="fas fa-search text-dark"></i>
          </div>
        </div>
      </section>
    </div>
</article>

<article class="u-content">
    <div class="row">
        <section class="col-lg-4 mb-4" *ngFor="let pelicula of peliculas">
            <article class="card card-chart c-card-hover h-100">
                <section>
                    <img [src]="pelicula.url_poster | routeImage" [alt]="pelicula.nombre" 
                        class="sh-thumbnail img-fluid">
                </section>
                <section class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                        <h5 class="card-category">
                            <span class="badge badge-dark mr-3" *ngFor="let g of pelicula.generos">
                                {{ g.descripcion }}
                            </span>
                        </h5>
                    </div>
                </section>
                <section class="card-body">
                    <h4 class="card-title font-weight-bold m-0">
                        {{ pelicula.nombre }}
                    </h4> 
                    <p>{{ pelicula.sinopsis | slice : 0 : 45 }}...</p>
                    <a [routerLink]="[ '/dashboard/peliculas', pelicula.id ]">
                        Ver más
                    </a>
                </section>
            </article>
        </section>
    </div>
</article>