<article class="panel-header u-panel-header-sm px-3 px-sm-5">
    <div class="header text-center">
        <h2 class="title">Mi perfil</h2>
    </div>
</article>

<article class="u-content">
    <section class="card">
        <div class="card-body">
            <section class="d-flex justify-content-center align-items-center flex-column mb-3">
                <article class="mb-3">
                    <img src="https://imgcdn.larepublica.co/i/768/2020/03/18163205/flash-alpha-codersal.jpg" 
                    class="img-fluid sh-rounded-img">
                </article>
                <h3 class="text-center">Alexander Avila Briones</h3>
            </section>
            <section class="row">
                <article class="col-4 mb-3">
                    <p class="text-center">
                        <span class="font-weight-bold">Celular:</span> 932265652
                    </p>
                </article>
                <article class="col-4 mb-3">
                    <p class="text-center">
                        <span class="font-weight-bold">Correo:</span> alexanderavilab@gmail.com
                    </p>
                </article>
                <article class="col-4 mb-3">
                    <p class="text-center">
                        <span class="font-weight-bold">DNI:</span> 75497209
                    </p>
                </article>
                <article class="col-12 mb-3">
                    <p class="text-center">
                        <span class="font-weight-bold">Suscripción: </span> 
                        <span class="badge badge-warning">
                            <i class="fa fa-star"></i>
                            PREMIUM
                        </span>
                    </p>
                </article>
            </section>
        </div>
    </section>
</article>