.sh-img{
    width: 800px;
    height: 600px;
    object-fit: cover;
    object-position: top;
}

.sh-genero{
    border-bottom: 1px solid hsla(0, 0%, 70%, .5);
    padding: 0 .5rem;
    margin-bottom: .5rem;
    cursor: default;
}

.sh-thumbnail{
    height: 180px;
    object-fit: cover;
}